[
    ImportDirectory("/home/mow/Pictures/Screenshots/"),
    ImportDirectory("/home/mow/Pictures/Test/"),

    SelectCollection(Index(0)),
    SelectDocument(Index(1)),
    Document(Rotate(degrees: 90)),

    ListWorkspace,
]
