[Desktop Entry]
Name=Noctua
Comment=Noctua – a document viewer for the COSMIC™ desktop
Type=Application
Icon=org.codeberg.wfx.Noctua
Exec=noctua %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/svg+xml;image/tiff;image/webp;application/pdf
